 <script>
    function show_img(e)
    {
        let url = e.getAttribute("src");
        //alert(url);
        document.getElementById("imgx").src=url;
        //alert(target.style.backgroundImage);
    }
</script>
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-title">
                        <div class="section-title">
                            <span>A Memorable Event With Venue Reservation</span>
                            <h2>HALL DETAIL</h2>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Hall Name: <%= hitems[0].hall_name %></h4>
					<br/>
					<h4>Hall Address: <%= hitems[0].address %></h4>
					<br/>
					<h4>Hall Description: <%= hitems[0].description %></h4>
					<br/>
					<h4>Hall Capacity: <%= hitems[0].capacity %> Person</h4>
					<br/>
					<h4>No of Sofas: <%= hitems[0].no_of_sofas %></h4>
					<br/>
                    <h4>No of Chairs: <%= hitems[0].no_of_chairs %></h4>
					<br/>
					
					<h3>Hall Charge</h3>
					<br/>
					<% for(var i=0;i<chitems.length;i++){ %>
                            <h4><%= chitems[i].time_type %> : &#8377 <%= chitems[i].hall_charge %> /-</h4>
					<%} %>
					<a href="/customer_check_avability/<%= hitems[0].hall_id %>" class="primary-btn" >CHECK AVABILITY</a>
					
                </div>
                <div class="col-lg-6">
                    
                        <img src="<%= imgitems[0].image_path %>" id="imgx" style='width:80%; height:70%;'>
                    <% if(chitems.length){ %>
                        <table>
                            <tr>
                        <% for(var i=0;i<imgitems.length;i++){ %>
                                <td><button onclick='show_img(this)' src="<%= imgitems[i].image_path %>"><img src="<%= imgitems[i].image_path %>" style='width:150px; height:150px;'></button></td>
					    <%} %>
                        </tr>
                        </table>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->